* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border: 0.08em solid #222731;
  border-radius: 0.2em;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(#fff, #eee);
  min-height: 100vh;
}

.app {
  width: 600px;
}

.input {
  color: #222731;
  font-size: 20px;
  background-color: transparent;
  padding: 14px;
  border: 0.06em solid #222731;
}

.input::placeholder {
  color: #777;
}

.button {
  color: #fff;
  font-size: 20px;
  background-color: #222731;
  padding: 15px;
  transition: all 0.2s;
}

.button:hover {
  background-color: #323741;
}

.check-icon {
  width: 28px;
  height: 28px;
}

.edit-icon {
  width: 28px;
  height: 28px;
}

.remove-icon {
  width: 28px;
  height: 28px;
}

.button.small {
  font-size: 10px;
  background-color: transparent;
  padding: 0 5px;
}

.button.regular {
  font-size: 20px;
}

.button.big {
  font-size: 35px;
  padding: 35px;
}

.button.make {
  color: #20c004;
}

.button.make:hover {
  transform: scale(1.1) rotate(8deg);
}

.button.remove {
  color: #de2e0b;
}

.button.remove:hover {
  transform: scale(1.1) rotate(8deg);
}

.button.edit {
  color: #09f;
}

.button.edit:hover {
  transform: scale(1.1) rotate(8deg);
}

.task-maker {
  text-align: center;
  background-color: #ddd;
  padding: 20px;
  padding-top: 50px;
}

.task-manager {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #ddd;
  padding: 20px;
  border-bottom-right-radius: 0.3em;
  border-bottom-left-radius: 0.3em;
  max-height: 450px;
  overflow-y: auto;
}

.task {
  min-width: 80%;
  margin: 10px 0;
  background-color: #22273120;
  padding: 12px;
  border-radius: 0.2em;
}

.task.invisible {
  animation-name: pop;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier();
}

.task * {
  margin: 3px 0;
}

.task-content {
  font-weight: 300;
  font-size: 20px;
}

.task-content.done {
  font-style: italic;
  text-decoration: line-through;
  color: #de2e0b;
}

.header {
  background-color: #ddd;
  padding: 20px;
  text-align: center;
  border-top-right-radius: 0.3em;
  border-top-left-radius: 0.3em;
}

.header * {
  color: #222831;
}

.header-taskcounter b {
  transition: all 0.2s;
}

.header-taskcounter.glow b {
  color: #09f;
}

@keyframes pop {
  from {
    transform: scale(0.8) rotate(-3deg);
    opacity: 0;
  }
  to {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }
}
